@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }

  .mob-container {
    max-width: 428px;
  }
  .hero {
    max-width: 767px;
  }

  .footer {
    max-width: 767px;
  }
}
